body {
  background-color: #090021;
  color: #f2f0ff;           /* default text color */
  font-family: Roboto
  margin: 0;
  padding: 20px;
}
}
a {
  display: inline-block;
  padding: 10px 16px;
  background-color: #5900ff;
  color: white;
  text-decoration: none;
  border-radius: 9999px;
  font-weight: 500;
}
a:hover {
  background-color: #005fcc;
}

a:active {
  transform: scale(0.96);
}

